/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

/* GLOBAL */

body{
background:#d1cece;
font-family:'Poppins', sans-serif;

}

/* ROOT */

#root{
width:100%;
min-height:100vh;
}

/* GLOBAL CONTAINER */

.container{
max-width:1200px;
margin:auto;
padding:0 20px;
}

a{
text-decoration:none;
color:inherit;
}